<h1> Those are all the events we have</h1>

<ul>
<% for(var i = 0 ; i < events.length; i++ ){%>
   <li> <%= events[i].name  %> - <%= events[i].date %>
    <br><a href="/event/<%= events[i]._id %>"> Know more about this event </a></li>
 <% } %>
</ul>
 <% if (currentUserInfo.role === 'Admin' || currentUserInfo.role === 'EventManager') { %>
<a href="/create-event"> Create event </a>
<% } %>
<br>
<a href="/"> Back Home </a>
