<nav class="margin-bottom">
  <img src="images/cowork-logo.png" href="/" class="brand-logo">

  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <a href="/"> Home </a> </li>
      <li> <a href="/profile"> My profile </a> </li>
      <li> <a href="/all-events"> Events </a> </li>
      <li> <a href="/logout"> Logout </a> </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">

    <h2>Create new event</h2>

    <form action="/create-event" method="post" enctype="multipart/form-data" class="col s12">
      <div class="col s12">
        <label for="event-name-input"> Event Name </label>
        <input type="text" name="name" id="event-name-input" placeholder="Event Name">
      </div>

      <div class="col s12">
        <label for="description-input"> Description </label>
        <input type="text" name="description" id="description-input" placeholder="event description">
      </div>

      <div class="col s12">
        <label for="place-input"> Place </label>
          <select name="place">
            <% for(var i=0; i < spaces.length; i++){ %>
              <option><%= spaces[i].name %></option>
            <% } %>
          </select>
      </div>

      <div class="col s12">
        <label for="date-input"> Choose a date: </label>
          <input id="date" name="date" type="date" value="2017-09-22">
      </div>

      <div class="col s12 margin-bottom">
        <label for="image-input"> Choose event image </label>
        <br>
        <input type="file" name="image" id="image-input" placeholder="event image">
      </div>

      <button type="submit" class="waves-effect waves-light btn-large col s12">Create New Event</button>
    </form>


  </div>
</div>

  <% if (errorMessage) { %>
    <h2 class="error-message">
      <%= errorMessage %>
    </h2>
  <% } %>
