<section class="form-container">

      <h2>Edit Character</h2>
      <form action="/edit-profile/<%= currentUserInfo._id %>" method="POST"
        id="edit-member-form" class="member-form" enctype="multipart/form-data">

        <div class="field">
          <label for="name">Name: </label>
          <input type="text" name="name">
        </div>
        <div class="field">
          <label for="email">Email: </label>
          <input type="text" name="email">
        </div>
        <div class="field">
          <label for="username">Username: </label>
          <input type="text" name="username">
        </div>
        <div>
          <input type="file" name="photo">
        </div>

        <button type="submit" id="send-data">Update</button>
      </form>


      <a href="/profile"> Back to profile </a>
</section>
