<section class="form-container">

        <h2>Upload your photo</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="photo">
          <input type="submit" value="Save">
        </form>


      <h2>Edit Character</h2>
      <form action="/edit-profile/<%= currentUserInfo._id %>" method="POST"
        id="edit-member-form" class="member-form">

        <div class="field">
          <label for="name">Name: </label>
          <input type="text" name="name">
        </div>
        <div class="field">
          <label for="email">Email: </label>
          <input type="text" name="email">
        </div>
        <div class="field">
          <label for="username">Username: </label>
          <input type="text" name="username">
        </div>

        <button type="submit" id="send-data">Update</button>
      </form>


      <a href="/profile"> Back to profile </a>
</section>
