<div class="container">
  <div class="row">

      <h2>Edit my profile</h2>
      <p><i> <sup>*</sup>Remember that you have to update your photo too </i></p>
      <form action="/edit-profile/<%= currentUserInfo._id %>" method="POST"
        id="edit-member-form" class="col s12" enctype="multipart/form-data">

        <div class="input-field col s12">
          <label for="name">Name: </label>
          <input type="text" name="name" value="<%= currentUserInfo.name %>">
        </div>
        <div class="input-field col s12">
          <label for="email">Email: </label>
          <input type="text" name="email" value="<%= currentUserInfo.email %>">
        </div>
        <div class="input-field col s12">
          <label for="username">Username: </label>
          <input type="text" name="username" value="<%= currentUserInfo.username %>">
        </div>
        <div class="col s12 margin-bottom">
          <input type="file" name="photo">
        </div>

        <button type="submit" id="send-data" class="waves-effect waves-light btn-large teal lighten-1 z-depth-3 margin-bottom">Update</button>
      </form>

    </div>
   </div>
