<section class="form-container">
      <h2>Edit Character</h2>
      <form id="edit-member-form" class="member-form">

        <div class="field">
          <label for="name">Name: </label>
          <input type="text" name="name">
        </div>
        <div class="field">
          <label for="email">Email: </label>
          <input type="text" name="email">
        </div>
        <div class="field">
          <label for="username">Username: </label>
          <input type="text" name="username">
        </div>

        <button id="send-data">Update</button>
      </form>
      <a href="/profile"> Back to profile </a>
</section>
