<h1>Members list</h1>
<ul>
  <% for (i=0; i < member.length; i++) { %>
    <li><a href="/member/profile/<%= employees[i]._id %>"><%= member[i].username %></a></li>
    <a href="/member/<%= member[i]._id %>/edit"> Edit member</a>
    <a href="/member/<%= member[i]._id %>/delete"> Delete</a>
  <% } %>
</ul>
