<nav>
  <img src="images/cowork-logo.png" href="/" class="brand-logo">

  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    </ul>

  </div>
</nav>

<div class="container">
  <div class="row">
    <h2> Sign Up </h2>

      <% if (errorMessage) { %>
        <p class="error-message">
          <%= errorMessage %>
        </p>
      <% } %>
</div>
<div class="row">
  <form class="col s12" action="/signup" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="name" id="name-input" placeholder="Your Name">
        <label for="name-input"> Name </label>
    </div>

  <div class="input-field col s12">
    <input type="email" name="email" id="email-input" placeholder="Your Email">
    <label for="email-input"> Email </label>
  </div>

  <div class="input-field col s12">
    <input type="text" name="username" id="username-input" placeholder="your username">
    <label for="username-input"> Username </label>
  </div>

  <div class="input-field col s12">
    <input type="password" name="password" id="password-input" placeholder="••••••••••••">
      <label for="password-input"> Password </label>
  </div>

  <button class="waves-effect waves-light btn-large"> Create New Account </button>
</form>

<p>
  Already have an account?
  <a href="/login">
    Log in.
  </a>
</p>

  </div>
 </div>
</div>
