
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><%= title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

  <body>
    <% if (!isUserLoggedIn) { %>

    <nav>
      <img src="/images/cowork-logo2.png" href="/" class="brand-logo">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li> <a href="/signup"> Sign Up </a> </li>
          <li> <a href="/login"> Log In </a> </li>
        </ul>
      </div>
    </nav>

    <% } else { %>

    <nav class="margin-bottom">
      <img src="/images/cowork-logo2.png" href="/" class="brand-logo">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li> <a href="/"> Home </a> </li>
          <li> <a href="/profile"> My profile </a> </li>
          <li> <a href="/allmembers"> Members </a> </li>
          <li> <a href="/all-spaces"> Spaces </a> </li>
          <li> <a href="/all-events"> Events </a> </li>
          <li> <a href="/logout"> Logout </a> </li>
        </ul>
      </div>
    </nav>
    <% } %>

    <%- body -%>

  </body>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Work & Co.</h5>
          <p class="grey-text text-lighten-4">Everybody loves shareness, lets works together for a collaborative and open space for everyone.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Who are IronChavales</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/andergaldeano">Chaval Ander</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/luquifb">Chaval Luqui</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright IronChavales
      <a class="grey-text text-lighten-4 right">Made for Co-Workings</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
</html>
