

  <ul>
    <% if (!isUserLoggedIn) { %>
      <li> <a href="/signup" class="waves-effect waves-light btn-large"> Sign Up </a> </li>
      <li> <a href="/login" class="waves-effect waves-light btn-large"> Log In </a> </li>
    <% } else {
       if (currentUserInfo.role === 'Admin') { %>

      <a href="/create-space" class="waves-effect waves-light btn-large"> Create a working space </a>
      <br>
      <a href="/create-event-manager" class="waves-effect waves-light btn-large"> Create new Event Manager Account</a>
      <br>
      <a href="/create-event" class="waves-effect waves-light btn-large"> Create new  event </a>


      <% }else if (currentUserInfo.role === 'EventManager') { %>

      <a href="/create-event" class="waves-effect waves-light btn-large"> Create new  event </a>
      <br>
      <li> <a href="/profile" class="waves-effect waves-light btn-large"> My profile </a> </li>

      <% }else{ %>

      <li> <a href="/profile" class="waves-effect waves-light btn-large"> My profile </a> </li>
      <% } %>

      <li>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">View all members<i class="material-icons right">more_vert</i></span>
          <p><a href="href="/allmembers"">View all members</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Members<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
      </li>

      <li>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">View all spaces<i class="material-icons right">more_vert</i></span>
          <p><a href="href="/all-spaces"">View all spaces</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Spaces<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
      </li>


      <li> <a href="/all-events" class="waves-effect waves-light btn-large"> Have a look to upcoming events </a> </li>
      <li> <a href="/logout" class="waves-effect waves-light btn-large"> Log Out </a> </li>
      <% } %>
  </ul>


<p> Welcome to <%= title %>. </p>

<% if (isUserLoggedIn) { %>
  <p> Hello, <%= currentUserInfo.name %>. <% if (currentUserInfo.role === 'Admin') { %> from here you can manage your space  <% } %> </p>
<% } %>
