

  <ul>
    <% if (!isUserLoggedIn) { %>
      <li> <a href="/signup" class="waves-effect waves-light btn-large"> Sign Up </a> </li>
      <li> <a href="/login" class="waves-effect waves-light btn-large"> Log In </a> </li>
    <% } else {
       if (currentUserInfo.role === 'Admin') { %>

      <a href="/create-space" class="waves-effect waves-light btn-large"> Create a working space </a>
      <br>
      <a href="/create-event-manager" class="waves-effect waves-light btn-large"> Create new Event Manager Account</a>
      <br>
      <a href="/create-event" class="waves-effect waves-light btn-large"> Create new  event </a>


      <% }else if (currentUserInfo.role === 'EventManager') { %>

      <a href="/create-event" class="waves-effect waves-light btn-large"> Create new  event </a>
      <br>
      <li> <a href="/profile" class="waves-effect waves-light btn-large"> My profile </a> </li>

      <% }else{ %>

      <li> <a href="/profile" class="waves-effect waves-light btn-large"> My profile </a> </li>
      <% } %>
      <li><a href="/allmembers" class="waves-effect waves-light btn-large"> View all Members </a></li>
      <li> <a href="/all-spaces" class="waves-effect waves-light btn-large"> Have a look to our working spaces </a> </li>
      <li> <a href="/all-events" class="waves-effect waves-light btn-large"> Have a look to upcoming events </a> </li>
      <li> <a href="/logout" class="waves-effect waves-light btn-large"> Log Out </a> </li>
      <% } %>
  </ul>


<p> Welcome to <%= title %>. </p>

<% if (isUserLoggedIn) { %>
  <p> Hello, <%= currentUserInfo.name %>. <% if (currentUserInfo.role === 'Admin') { %> from here you can manage your space  <% } %> </p>
<% } %>
