<h1> Those are all the spaces we have</h1>

<ul>
<% for(var i = 0 ; i < spaces.length; i++ ){%>
   <li> <%= spaces[i].name  %> - <%= spaces[i].capacity %>
    <br><a href="/space/<%= spaces[i]._id %>"> Know more about this space </a></li>
 <% } %>
</ul>

<a href="/create-space"> Create space </a>
<br>
<a href="/"> Back Home </a>
