
  <div class="container">
    <div class="row">
    <h2>Create new space</h2>
      <form action="/create-space" method="post" enctype="multipart/form-data" class="col s12">
        <div class="input-field col s12">
          <label for="space-name-input"> Space Name </label>
          <input type="text" name="name" id="space-name-input" placeholder="Space Name">
        </div>

        <div class="input-field col s12">
          <label for="capacity-input"> Capacity </label>
          <input type="text" name="capacity" id="capacity-input" placeholder="space capacity">
        </div>

        <div class="input-field col s12 margin-bottom">
            <label for="image"> Choose space image </label>
            <br><br>
            <input class="file-path validate" type="file" name="image" value="File" placeholder="Upload a file o space image">
        </div>

        <button type="submit" class="waves-effect waves-light btn-large col s12 teal lighten-1 z-depth-3 margin-bottom">Create New Space</button>
      </form>

    </div>
   </div>
