  <div class="container">
    <div class="row">
    <h2>Create new space</h2>
      <form action="/create-space" method="post" enctype="multipart/form-data" class="col s12">
        <div class="input-field col s12">
          <label for="space-name-input"> Space Name </label>
          <input type="text" name="name" id="space-name-input" placeholder="Space Name">
        </div>

        <div class="input-field col s12">
          <label for="capacity-input"> Capacity </label>
          <input type="text" name="capacity" id="capacity-input" placeholder="space capacity">
        </div>

        <div class="input-field input-field col s12">
          <div class="btn" for="image-input">
            <span>File</span>
            <input class="file-path validate" type="file" name="image" value="File" placeholder="Upload a file o space image">
          </div>
        </div>

        <button type="submit" class="waves-effect waves-light btn-large col s12">Create New Space</button>
      </form>

    </div>
   </div>

<a href="/all-spaces" class="waves-effect waves-light btn-large"> Back to Spaces </a>
<br>
<a href="/" class="waves-effect waves-light btn-large light-blue darken-2"> Back Home </a>
