<h2> Welcome to <%= space.name %> </h2>

<section>
    <img src="<%= space.picture %>" />
</section>

<section>
  <p>Space name: <%= space.name %> </p>
  <p>Capacity: <%= space.capacity %> </p>
</section>

  <a href="/create-event"> Create event </a>
  <br>
  <a href="/all-spaces"> Back to Spaces </a>
