<nav class="margin-bottom">
  <img src="images/cowork-logo.png" href="/" class="brand-logo">

  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <a href="/"> Home </a> </li>
      <li> <a href="/profile"> My profile </a> </li>
      <li> <a href="/all-events"> Events </a> </li>
      <li> <a href="/logout"> Logout </a> </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h2> Create new event manager  </h2>

    <form action="/create-event-manager" method="post" enctype="form-data" class="col s12">
      <div class="col s12">
        <label for="email-input"> Write his email </label>
        <input type="email" name="email" id="email-input">
      </div>

      <div class="col s12">
        <label for="password-input"> Give him a password </label>
        <input type="password" name="password" id="password-input">
      </div>

      <div class="col s12">
        <label for="name-input"> Write his name </label>
        <input type="text" name="name" id="name-input">
      </div>

      <% if (errorMessage) { %>
        <h2 class="error-message">
          <%= errorMessage %>
        </h2>
      <% } %>

      <button type="submit" class="waves-effect waves-light btn-large col s12">Create New Event Manager</button>
    </form>

  </div>
 </div>
