
<div class="container">

  <form id="form" action="/review/<%= event[i].id %>/create" method="POST">

    <label>Title</label><br>
    <input type="text" name="title" placeholder="Title">
    <br>

    <label>Description</label><br>
    <input type="text" name="description" placeholder="Description">
    <br>

    <label>Stars</label><br>
    <input type="number" name="stars" placeholder="Stars">
    <br>

    <div class="center-btn">
      <button class="btn waves-effect waves-light" type="submit" name="action" value="Submit">MI OPINIÓN
        <i class="material-icons right">send</i>
      </button>
    </div <br>

  </form>

</div>
